body {
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #428d70;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    background-color: #499a7b;
}

.button:active {
    
    transform: translateY(2px) scale(0.98); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    background-color: #2a7559;
  }